var util = {
  hasPhoneContact: function (listing) {
    return listing.owner && listing.owner.contactPhone;
  },
  hasEmailContact: function (listing) {
    return listing.owner && listing.owner.contactEmail;
  },
  hasGroupContact: function (listing) {
    return listing.hsyGroupEnum && listing.hsyGroupNick;
  },
  hasContact: function (listing) {
    return util.hasGroupContact(listing) 
      || util.hasPhoneContact(listing)
      || util.hasEmailContact(listing)
  },
  getGroupNickName: function(listing) {
    return listing.hsyGroupNick
      ? listing.hsyGroupNick 
      : listing.ownerId.replace('group-collected-', '')
  },
}

module.exports = {
  getGroupNickName: util.getGroupNickName,
  hasContact: util.hasContact,
  hasEmailContact: util.hasEmailContact,
  hasGroupContact: util.hasGroupContact,
  hasPhoneContact: util.hasPhoneContact
}
